!!!
%html{:lang => :zh}
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title MINDPIN Team Work Page
    %link{:media => 'screen', :rel => 'stylesheet', :type => 'text/css', :href => 'ui/css/ui.css'}
    %link{:media => 'screen', :rel => 'stylesheet', :type => 'text/css', :href => 'ui/css/font-awesome.min.css'}
  %body
    .page-header
      .ct MINDPIN Team Work Page

    .page-content
      .page-intro
        %span 团队需要一个信息汇总页面，于是就放在这里了。目的很简单，希望能通过这个页面的导航找到团队工作相关的各种东西，不至于到处乱翻。页面是放在 github 的，域名是自己的。如果有任何意见建议可以告诉 ben7th 让他改。
        %br
        %i.fa.fa-github
        %a{:href => 'https://github.com/mindpin/work', :target => '_blank'} https://github.com/mindpin/work

      .page-pages.pdd
        %h1
          %i.fa.fa-question-circle
          %span 问题驱动开发
        .pages
          .page
            .title 问题列表
            .desc MINDPIN Team 目前的开发模式基于问题驱动开发模式。所有的原始问题都放置在这个列表里。
            .url
              %i.fa.fa-arrow-circle-right
              %a{:href => 'https://github.com/mindpin/problems/issues', :target => '_blank'} https://github.com/mindpin/problems/issues

          .page
            .title 任务队列
            .desc 已经转化为具体任务的问题，这个是 github wiki 页。目前是手动维护。将来再改进。
            .url
              %i.fa.fa-arrow-circle-right
              %a{:href => 'http://s.4ye.me/ttuFmH', :target => '_blank'} http://s.4ye.me/ttuFmH

        .clearfix

      .page-pages.promotion
        %h1
          %i.fa.fa-external-link-square
          %span 推广页面
        .pages
          .page
            .title eShare 产品线介绍
            .desc inhouse 产品线，目前有两个产品，这是它们的介绍页。
            .url
              %i.fa.fa-arrow-circle-right
              %a{:href => 'http://product.4ye.me', :target => '_blank'} http://product.4ye.me
            .github
              %i.fa.fa-github
              %a{:href => 'https://github.com/mindpin/products', :target => '_blank'} https://github.com/mindpin/products

          .page
            .title 团队招募
            .desc 我们一直在招募更多的人一起工作，各种形式，全职的，兼职的。
            .url
              %i.fa.fa-arrow-circle-right
              %a{:href => 'http://jobs.4ye.me', :target => '_blank'} http://jobs.4ye.me
            .github
              %i.fa.fa-github
              %a{:href => 'https://github.com/mindpin/jobs', :target => '_blank'} https://github.com/mindpin/jobs

        .clearfix

      .page-members
        %h1
          %i.fa.fa-user
          %span 团队成员
        .members
        .clearfix

      .page-pages.tools
        %h1
          %i.fa.fa-cutlery
          %span 自建工具集
        .pages
          .page
            .title 短网址 Short Url
            .desc 用来缩短网址，便于转发扩散
            .url
              %i.fa.fa-arrow-circle-right
              %a{:href => 'http://s.4ye.me', :target => '_blank'} http://s.4ye.me
            .github
              %i.fa.fa-github
              %a{:href => 'https://github.com/mindpin/short-url', :target => '_blank'} https://github.com/mindpin/short-url

          .page
            .title 图片上传 Image Service
            .desc 用来保存图片便于外链，支持多尺寸图片缩放，支持直接粘贴上传。图片保存在阿里云OSS。<br/>同时，这个服务也是其他一些服务的依赖。
            .url
              %i.fa.fa-arrow-circle-right
              %a{:href => 'http://img.4ye.me', :target => '_blank'} http://img.4ye.me
            .github
              %i.fa.fa-github
              %a{:href => 'https://github.com/mindpin/image-service', :target => '_blank'} https://github.com/mindpin/image-service

          .page
            .title 团队文档 Docs
            .desc 用来保存团队内部的服务器信息，部署方案等文档。支持 markdown 语法.
            .url
              %i.fa.fa-arrow-circle-right
              %a{:href => 'http://docs.4ye.me', :target => '_blank'} http://docs.4ye.me
            .github
              %i.fa.fa-github
              %a{:href => 'https://github.com/mindpin/deploy-docs', :target => '_blank'} https://github.com/mindpin/deploy-docs

      .page-pages.services
        %h1
          %u.fa.fa-flask
          %span 基础数据服务
        .pages
          .page
            .title 通用键值对持久化/TAG标记服务
            .desc 支持多个不同服务以键值对的形式持久化保存数据。同时提供标准化的TAG标注和搜索服务。
            .url
              %i.fa.fa-arrow-circle-right
              %a{:href => 'http://key-value.4ye.me', :target => '_blank'} http://key-value.4ye.me
            .github
              %i.fa.fa-github
              %a{:href => 'https://github.com/mindpin/kv_service', :target => '_blank'} https://github.com/mindpin/kv_service

          .page
            .title 通用网页收藏服务
            .desc 网页收藏工具所依赖的的数据服务。你问网页收藏工具是啥？还没开发出来。
            .url
              %i.fa.fa-arrow-circle-right
              %a{:href => 'http://collect.4ye.me', :target => '_blank'} http://collect.4ye.me
            .github
              %i.fa.fa-github
              %a{:href => 'https://github.com/mindpin/web-url-collector', :target => '_blank'} https://github.com/mindpin/web-url-collector

      .page-web-addons
        %h1
          %i.fa.fa-lightbulb-o
          %span 浏览器插件

      .page-sites
        %h1
          %i.fa.fa-coffee
          %span 常用网站

    .page-foot


    %script{:type => 'text/javascript', :src => 'ui/lib/jquery-2.1.0.min.js'}
    %script{:type => 'text/javascript', :src => 'ui/ui.js'}