@charset "UTF-8";
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: helvetica, arial, 微软雅黑;
  font-size: 16px;
  line-height: 1.5em;
  color: #333; }

.clearfix {
  clear: both; }

.bold {
  font-weight: bold; }

body > .page-content {
  width: 960px;
  margin: 0 auto; }

.pie.avatar {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  font-size: 0;
  line-height: 0; }
  .pie.avatar img {
    width: 60px;
    height: 60px;
    border-radius: 100px; }
  .pie.avatar.bordered {
    border: solid 1px #ddd;
    padding: 2px; }
  .pie.avatar.s100 {
    width: 100px;
    height: 100px; }
    .pie.avatar.s100 img {
      width: 100px;
      height: 100px; }

body h1 {
  font-size: 24px;
  color: #2E424D;
  border-bottom: solid 1px #ddd;
  height: 24px;
  line-height: 24px;
  padding-bottom: 20px;
  font-weight: normal;
  margin: 20px 0; }
  body h1 i {
    margin-right: 10px; }
body a {
  color: #159BC9; }

.page-header {
  background-color: #333;
  height: 50px;
  line-height: 50px;
  margin-bottom: 40px; }
  .page-header .ct {
    width: 960px;
    margin: 0 auto;
    color: #999; }

.page-content {
  padding-bottom: 120px !important; }

.page-intro {
  padding: 20px;
  background-color: #FFFBE3;
  border-radius: 5px;
  margin-bottom: 40px; }

.page-pages .pages .page {
  border-bottom: dashed 1px #ddd;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5%; }
  .page-pages .pages .page:last-child {
    margin-bottom: 60px;
    padding-bottom: 0;
    border-bottom: 0 none; }
  .page-pages .pages .page .title {
    font-weight: bold; }
  .page-pages .pages .page .desc {
    color: #666; }
  .page-pages .pages .page .url i {
    margin-right: 5px;
    color: #009800; }
  .page-pages .pages .page .github i {
    margin-right: 5px; }

.page-members .members {
  margin-top: 40px; }
  .page-members .members .member {
    height: 280px;
    float: left;
    margin-right: 30px;
    width: 25%;
    margin-left: 5%;
    font-size: 14px; }
    .page-members .members .member .avatar {
      margin-bottom: 20px; }
    .page-members .members .member .email i {
      margin-right: 5px;
      color: #777; }
    .page-members .members .member .weibo i {
      margin-right: 5px;
      color: #E6162D; }
    .page-members .members .member .zhihu i {
      width: 14px;
      height: 14px;
      background: url(../images/zhihu-icon.png) no-repeat;
      margin-right: 5px;
      position: relative;
      top: 2px; }

.page-servers .servers a.server {
  text-decoration: none;
  position: relative;
  top: 0;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in; }
  .page-servers .servers a.server:hover {
    top: -5px; }
.page-servers .servers .server {
  float: left;
  width: 220px;
  height: 145px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #2A70E8;
  color: white;
  border-radius: 5px;
  padding: 15px 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  position: relative; }
  .page-servers .servers .server .name {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px; }
  .page-servers .servers .server .location {
    background-color: #0957DB;
    position: absolute;
    bottom: 34px;
    left: 0;
    right: 0;
    padding: 0 20px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 10px; }
  .page-servers .servers .server .ip {
    background-color: #0957DB;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    font-size: 18px;
    height: 24px;
    line-height: 24px;
    padding-bottom: 10px;
    font-family: Georgia; }
  .page-servers .servers .server .services-count {
    position: absolute;
    height: 24px;
    line-height: 24px;
    right: 0px;
    top: 65px;
    font-size: 14px;
    background-color: #548CEB;
    padding: 0 7px;
    border-radius: 3px 0 0 3px; }

body.servers {
  background-color: #2A70E8;
  color: white; }
  body.servers .page-content {
    position: relative; }
  body.servers .page-content > i.cloud {
    font-size: 300px;
    position: absolute;
    left: -160px;
    top: 350px;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1; }
  body.servers .page-server-detail {
    z-index: 1;
    float: left;
    margin-top: 100px;
    width: 400px;
    position: relative; }
    body.servers .page-server-detail .name {
      color: rgba(255, 255, 255, 0.8);
      font-size: 32px;
      height: 48px;
      line-height: 48px;
      margin-bottom: 10px; }
    body.servers .page-server-detail .nickname {
      font-size: 32px;
      height: 48px;
      line-height: 48px;
      margin-bottom: 30px; }
    body.servers .page-server-detail .ip {
      font-size: 48px;
      font-family: Georgia;
      height: 64px;
      line-height: 64px;
      margin-top: 30px;
      margin-bottom: 20px; }
    body.servers .page-server-detail .location {
      font-size: 24px;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 20px; }
    body.servers .page-server-detail .os {
      font-size: 24px;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 50px; }
    body.servers .page-server-detail a.manage-site {
      display: block;
      background-color: white;
      color: #6A9BEF;
      width: 180px;
      text-decoration: none;
      height: 48px;
      line-height: 48px;
      text-align: center;
      border-radius: 100px;
      font-size: 20px;
      font-weight: bold; }
      body.servers .page-server-detail a.manage-site i {
        margin-right: 10px; }
  body.servers .page-server-services {
    float: left;
    margin-top: 100px;
    width: 560px; }
    body.servers .page-server-services .service {
      color: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      padding: 15px 20px;
      background-color: rgba(9, 87, 219, 0.6);
      overflow: hidden;
      margin-bottom: 40px; }
      body.servers .page-server-services .service .name {
        margin-bottom: 5px;
        color: white;
        font-weight: bold; }
      body.servers .page-server-services .service .desc {
        margin-bottom: 5px; }
      body.servers .page-server-services .service .url, body.servers .page-server-services .service .github {
        margin-bottom: 5px; }
        body.servers .page-server-services .service .url i, body.servers .page-server-services .service .github i {
          margin-right: 10px; }
        body.servers .page-server-services .service .url a, body.servers .page-server-services .service .github a {
          color: rgba(255, 255, 255, 0.8); }
